@import url('https://fonts.googleapis.com/css?family=Montserrat');

.nav-tab {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  font-weight: bold;
  width: 89.7px;
  letter-spacing: 2.5px;
  background-color: #fff;
  display: inline-block;
  padding: 10px 25px;
  color: rgba(28,39,49,0.4);
  text-decoration: none;
  &:hover {
    background-color: white;
  }
  &.active {
    background-color: #fff;
    color: #555;
    border-bottom: 2px solid dodgerblue;
    cursor: default;
  }
}
